<?xml version="1.0"?>
<config>
    <modules>
        <Jaagers_Sortnavigationlinks>
            <version>0.5.0</version>
        </Jaagers_Sortnavigationlinks>
    </modules>
    <global>
        <blocks>
            <sortnavigationlinks>
                <class>Jaagers_Sortnavigationlinks_Block</class>
            </sortnavigationlinks>
            <customer>
                <rewrite>
                    <account_navigation>Jaagers_Sortnavigationlinks_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <sortnavigationlinks>
                <class>Jaagers_Sortnavigationlinks_Helper</class>
            </sortnavigationlinks>
        </helpers>
        <models>
            <sortnavigationlinks>
                <class>Jaagers_Sortnavigationlinks_Model</class>
                <resourceModel>sortnavigationlinks_mysql4</resourceModel>
            </sortnavigationlinks>
            <sortnavigationlinks_mysql4>
                <class>Jaagers_Sortnavigationlinks_Model_Mysql4</class>
                <entities>
                    <navigationlinks>
                        <table>jaagers_sortnavigationlinks</table>
                    </navigationlinks>
                </entities>
            </sortnavigationlinks_mysql4>
        </models>
        <resources>
            <sortnavigationlinks_setup>
                <setup>
                    <module>Jaagers_Sortnavigationlinks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sortnavigationlinks_setup>
            <sortnavigationlinks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sortnavigationlinks_write>
            <sortnavigationlinks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sortnavigationlinks_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sortnavigationlinks before="Mage_Adminhtml">Jaagers_Sortnavigationlinks_Adminhtml</sortnavigationlinks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sortnavigationlinks module="sortnavigationlinks">
                <title>Jaagers</title>
                <sort_order>100</sort_order>
                <children>
                    <navigationlinks module="sortnavigationlinks">
                        <title>Manage Navigationlinks</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/sortnavigationlinks_navigationlinks</action>
                    </navigationlinks>
                </children>
            </sortnavigationlinks>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sortnavigationlinks translate="title" module="sortnavigationlinks">
                            <title>Sortnavigationlinks</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <navigationlinks translate="title">
                                    <title>Manage Navigationlinks</title>
                                    <sort_order>0</sort_order>
                                </navigationlinks>
                            </children>
                        </sortnavigationlinks>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sortnavigationlinks>
                    <file>sortnavigationlinks.xml</file>
                </sortnavigationlinks>
            </updates>
        </layout>
    </adminhtml>
</config>